<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to capture photos and videos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to record audio during video capture.</string>
	<key>APP_SECRET</key>
	<string>$(APP_SECRET)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Thin.otf</string>
		<string>Inter-ExtraLight.otf</string>
		<string>Inter-Light.otf</string>
		<string>Inter-Regular.otf</string>
		<string>Inter-Medium.otf</string>
		<string>Inter-SemiBold.otf</string>
		<string>Inter-Bold.otf</string>
		<string>Inter-ExtraBold.otf</string>
		<string>Inter-Black.otf</string>
		<string>AmpleSoftPro-Regular.otf</string>
		<string>AmpleSoftPro-Medium.otf</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
